doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Expense manager
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    header 
      h1 Expense manager 
    main 
      block summary